<launch>
    <arg name="live" default="true"/>

    <group if="$(arg live)">
        <!-- Launch live sdf Franka node -->
        <node pkg="sdf" name="sdf_train" type="train_vis.py" output="screen" args="--config $(find sdf)/train/configs/realsense_franka.json"/>
    </group>
    <group unless="$(arg live)">
        <arg name="inc" default="false"/>
        <group if="$(arg inc)">
            <!-- Launch offline sdf Franka node incremental-->
            <node pkg="sdf" name="sdf_train" type="train_vis.py" output="screen" args="--config $(find sdf)/train/configs/realsense_franka_offline.json"/>
        </group>
        <group unless="$(arg inc)">
            <!-- Launch offline sdf Franka node batch-->
            <node pkg="sdf" name="sdf_train" type="train_vis.py" output="screen" args="--config $(find sdf)/train/configs/realsense_franka_offline.json -ni"/>
        </group>
    </group>
</launch>
